<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://iosapps.itunes.apple.com/itunes-assets/Purple221/v4/99/9b/4f/999b4f95-f559-be9b-919a-44d415aa9c3e/extDiratuvtdasxfbluszm.thinned.signed.beta.ipa?accessKey=1735474406_7465357060847909853_IFp8%2FxJyiNMmhUd%2Fp9Y%2BHx1RJCjmxPi52ffwnL%2Fyju%2Ff6yt33vSDBTVQB%2FJi6uzlika8IS06pGZfJIXQQt%2B4hgwpSB7qGS0qKypCQBMNE48%2Fva%2BXUSVx%2B%2FXQW1b%2BCMV6cXQ%2FYhMBelOve8Mx%2F80hFJ1BNuwUbDUZXVAmlxwvGIrvr03E0nm1O798Lzdl8Cwal6MPcbpJ0maikBw8jDgH6Q%3D%3D</string>
        </dict>
        <dict>
          <key>kind</key>
          <string>display-image</string>
          <key>url</key>
          <string>https://sky-beta.github.io/ios/logo.jpg</string>
        </dict>
        <dict>
          <key>kind</key>
          <string>full-size-image</string>
          <key>url</key>
          <string>https://sky-beta.github.io/ios/logo.jpg</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.tgc.sky.test.gold</string>
        <key>bundle-version</key>
        <string>0.28.5</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>光遇</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
