<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://pub-6f7ffe944e2948a19530df1f8bd6fc9f.r2.dev/sky/Sky/com.tgc.sky.ios.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://pub-6f7ffe944e2948a19530df1f8bd6fc9f.r2.dev/sky/Sky/com.tgc.sky.ios.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://pub-6f7ffe944e2948a19530df1f8bd6fc9f.r2.dev/sky/Sky/com.tgc.sky.ios.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tgc.sky.ios</string>
				<key>bundle-version</key>
				<string>407106</string>
				<key>SkyBuildAccessKey</key>
				<string>1743442606-386ccbddddd77c61b9ffcf7fa062f446baf1f5785d423a4b4c77a42c6624b375</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Sky</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
